body{
    background-color: #282828;
    color: #fff;
}

.cabecalho{
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}

.cabecalho .menu{
    display: flex;
    gap: 15px;
}

.cabecalho .menu li a {
	padding: 30px;
	color: #e8e8e8;
	font-weight: bolder;
	font-size: 15px;
	font-family: "Chalet";
}

.cabecalho .menu li a:hover {
	border-bottom: 2px solid #fff;
}

.inicio{
    display: flex;
    position: relative;
    min-height: calc(100hv - 80px);
}

.inicio::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) 35%, transparent 65%);
}

.inicio .imagem-de-fundo{
    height: 100%;
    object-fit: cover;
}

.inicio .informacoes {
    position: absolute;
	z-index: 1;
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	padding: 80px 80px 80px 170px;
	max-width: 780px;
}

.inicio .informacoes img{
    max-width: 150px;
}

.inicio .informacoes .eu-e-ela{
    display: flex;
    gap: 32px;
}
